.container {
  height: 100%;
}

.load-finish {
  text-align: center;
  color: #ccc;
  font-size: 12px;
  line-height: 45px;
  border-top: 1px solid #f5f5f5;
}
button {
  border:1px solid #5AC837!important;
}
.ktvDetail {
  .input__label {
    width: 110rpx!important;
  }
}